@page "/speakers"
@inject HttpClient httpClient

<h1>Speakers</h1>

<p>This component demonstrates fetching data from the server.</p>

<a href="/addSpeaker">Add Speaker</a>

@if (speakers == null) {
<p><em>Loading...</em></p>
} else {
<table class='table table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th> 
    </tr>
  </thead>
  <tbody>
    @foreach (var item in speakers) {
    <tr>
      <td>@item.FirstName @item.LastName</td>
      <td>
        <a href="/update/@item.SpeakerId">
          Edit
        </a>
      </td>
      <td>
        <a href="/delete/@item.SpeakerId">
          Delete
        </a>
      </td>
    </tr>
    }
  </tbody>
</table>
}


@code {
  Speaker[] speakers;
  string baseUrl = "https://localhost:6001/";

  protected override async Task OnInitializedAsync() {
    await load();
  }

  protected async Task load() {
    speakers = await httpClient.GetFromJsonAsync<Speaker[]>($"{baseUrl}api/speakers");
  }
}
